div.logo {
	margin-left: 0;
}

.top-right {
	position: absolute;
	top: auto;
	bottom: 0;
	right: 0;
}

.func-bar {
	right: 0;
}

.background-decorate {
	position: relative;
	width: 1248px;
	height: 210px;
	right: auto;
	bottom: auto;
	margin: 0 auto;
	background: transparent;
}

.background-decorate::after {
	content: '';
	display: inline-block;
	position: absolute;
	right: 0;
	bottom: 0;
	width: 288px;
	height: 141px;
	background: url('../img/png/anxiliary-Graph.png') no-repeat;
}
