/* top */
.logo {
	margin-left: 17px;
}

/*** login lan ***/
.top-right {
	position: absolute;
	top: auto;
	bottom: 0;
	right: 17px;
}

/*** login lan end ***/
.top-bar {
	display: block;
}

#mobile-top-bar,
.mobile-top-right {
	display: none;
}

#navigator {
	width: 24.3%;
}

.top-bar a.button-button span.button-text,
.top-bar a.button-button span.button-icon {
	display: none;
}

.top-bar .login-lan-button a.button-button span.button-text {
	display: inline-block;
}

.top-bar .login-lan-button a.button-button span.button-icon {
	margin-right: 4px;
	display: inline-block;
}

#main-menu {
	height: 100px;
	margin: 24px auto 0;
	z-index: 2;
	max-width: 1000px; /* not essential */
	text-align: center;
}

#main-menu .navigator-wrap-outer,
#main-menu .navigator-wrap {
	display: block;
	height: 106px;
}

#main-menu ul.navigator-ul {
	overflow: visible;
}

#main-menu li.navigator-li {
	position: relative;
	display: inline-block;
	padding: 0 12px;
	width: 16.6%;
	max-width: 128px;
	text-align: center;
	vertical-align: top;
}

#main-menu li.navigator-li.search,
#main-menu li.navigator-li.support,
#main-menu li.navigator-li.tplinkId,
#main-menu li.navigator-li.feedback,
#main-menu li.navigator-li.logout {
	display: none;
}

#main-menu li.navigator-li.selected::after {
	content: '';
	display: inline-block;
	position: absolute;
	top: 83px;
	height: 0;
	width: 0;
}

#main-menu li.navigator-li a {
	display: block;
}

#main-menu li.navigator-li span {
	display: block;
}

#main-menu li.navigator-li span.sub-navigator-text {
	bottom: 10%;
	width: 100%;
	text-align: center;
	margin: 6px auto 0;
}

#main-menu li.navigator-li span.sub-navigator-icon {
	position: relative;
	width: 52px;
	height: 52px;
	margin: 0 auto;
}

#main-menu li.navigator-li span.adv-red-dot {
	position: absolute;
	top: 4px;
	right: 0;
	width: 8px;
	height: 8px;
}

#navigator li.navigator-li span.adv-red-dot,
#ptcr-grid span.pcgrid-red-dot {
	display: inline-block;
	position: relative;
	top: -5px;
	right: -4px;
	width: 6px;
	height: 6px;
}

#main-menu li.navigator-li span.adv-red-dot.hidden,
#navigator li.navigator-li span.adv-red-dot.hidden {
	display: none;
}

#navigator {
	-webkit-overflow-scrolling: touch;
}

.page.no-navigator #navigator {
	display: none;
}

.page.no-bottom .page-bottom {
	display: none;
}

.page.no-bottom .page-content-container {
	padding-bottom: 0;
}

#navigator {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	z-index: 1;
}

#navigator .navigator-wrap-outer {
	height: 100%;
	padding: 36px 0 32px;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}

#navigator li.navigator-li a {
	display: table;
	position: relative;
	width: 100%;
	height: 38px;
	padding: 0 0 0 16px;
}

#navigator li.navigator-li .sub-navigator-text {
	transition: opacity 0.3s ease;
}

#navigator li.navigator-li-level1.opened > a:hover,
#navigator li.navigator-li-level1.selected > a:hover {
	padding-left: 16px;
}

#navigator li.navigator-li span.sub-navigator-text {
	display: table-cell;
	padding: 11px 28px 11px 0;
}

#navigator .navigator-ul-level2 li.navigator-li span.sub-navigator-text {
	display: table-cell;
	padding: 11px 16px 11px 0;
}

#navigator li.navigator-li.navigator-li-level2 a {
	padding-left: 28px;
}

#navigator li.navigator-li.navigator-li-level2.selected > a:hover {
	padding-left: 28px;
}

#navigator ul.navigator-ul.navigator-ul-level2 {
	padding: 8px 0;
}

#navigator li.navigator-li-level1.has-sub-navi > a > span.sub-navigator-icon-after {
	display: inline-block;
	position: absolute;
	right: 4px;
	top: 7px;
	width: 24px;
	height: 24px;
}

#navigator .navigator-li-level2 span.sub-navigator-icon {
	position: absolute;
	left: 14px;
	top: 14px;
	display: none;
	width: 10px;
	height: 10px;
}

#navigator .navigator-li-level2.selected span.sub-navigator-icon {
	display: inline-block;
}

.page.no-navigator .page-content-container {
	width: 100%;
	margin-left: 0;
	overflow-x: hidden;
}

/* nav */
#mobile-navigator {
	display: none !important;
}

/* page */

/* page */
.su-grid-row,
.page-content {
	padding: 25px 12.7% 0 11.8%;
}

.no-navigator .su-grid-row,
.no-navigator .page-content {
	padding-left: 8.98%;
	padding-right: 8.98%;
}

.no-navigator .networkmap-panel-column .widget-wrap-outer {
	margin-left: 0;
}

.page-content-container {
	padding-top: 7px;
	margin-left: 24.3%;
}

/* common widget */
.block-separate {
	margin-top: 30px;
}

.block-separate-30 {
	margin-top: 30px !important;
}

.block-separate-24 {
	margin-top: 24px;
}

.block-separate-ipsec {
	margin-top: 30px;
}

.block-separate-panel {
	margin-top: 48px;
}

.block-title {
	margin-bottom: 12px !important;
}

.displaylabel-container,
.combobox-container,
.textbox-container {
	white-space: nowrap;
}

.widget-fieldlabel-wrap {
	white-space: normal;
}

.widget-wrap-outer {
	white-space: normal;
}

.panel-container .widget-fieldlabel-wrap {
	width: 41.78%;
}

.msg-container .widget-fieldlabel-wrap {
	width: 38.3%;
}

.no-navigator .panel-container .widget-fieldlabel-wrap {
	width: 37.5%;
}

.panel-container.width-label-s .widget-fieldlabel-wrap,
.msg-container.width-label-s .widget-fieldlabel-wrap,
.msg-container .width-label-s .widget-fieldlabel-wrap {
	width: 17.1%;
}

.msg-container .label-auto .widget-fieldlabel-wrap,
.panel-container .label-auto .widget-fieldlabel-wrap {
	width: auto;
}

.width-label-245 .widget-fieldlabel-wrap {
	width: 42%;
}

/* labelfield */
.checkbox-container .widget-fieldlabel-wrap,
.checkbox-group-container .widget-fieldlabel-wrap,
.radio-group-container .widget-fieldlabel-wrap {
	height: 24px;
	padding-top: 4px;
	padding-bottom: 4px;
	transform: translateY(8px);
}

.text-container .widget-fieldlabel-wrap,
.combobox-container .widget-fieldlabel-wrap,
.combination-container .widget-fieldlabel-wrap,
.displaylabel-container .widget-fieldlabel-wrap {
	height: 28px;
	padding-top: 6px;
	padding-bottom: 6px;
	transform: translateY(8px);
}

.qs-sec-title {
	margin-top: 36px;
}

.qs-sec-title .widget-fieldlabel-wrap {
	height: 20px;
}

.qs-third-title .widget-fieldlabel-wrap {
	height: 24px;
}

.checkbox-container .widget-fieldlabel-inner,
.checkbox-group-container .widget-fieldlabel-inner,
.radio-group-container .widget-fieldlabel-inner,
.displaylabel-container .widget-fieldlabel-inner,
.text-container .widget-fieldlabel-inner,
.combination-container .widget-fieldlabel-inner,
.combobox-container .widget-fieldlabel-inner {
	transform: translateY(-50%);
}

.displaylabel-container.limit-width .text-wrap {
	min-width: 200px;
	max-width: 425px;
}

/* labelfield end */

/* pannel */
.panel-container {
	padding: 0;
	margin: 0 0 48px;
}

.qs-step-panel {
	margin-bottom: 0;
}

.panel-container.qs-dynamic-panel {
	margin-bottom: 12px;
}

/* pannel end */

/* errortips */
.widget-error-tips {
	margin-bottom: 4px;
}

/* errortips */

/* textbox  ***********/
.text-container .widget-wrap-outer {
	width: 55.8%;
}

.no-navigator .text-container .widget-wrap-outer {
	width: 37.5%;
}

.text-container .widget-addon {
	margin-bottom: 4px;
}

/* tips样式在输入框的下方，且靠右对齐 */
.text-container .widget-short-tips,
.combobox-container .widget-short-tips {
	display: inline-block;
	text-align: right;
	width: auto;
	float: right;
}

/* 有tips的输入框的下边距比正常大4px */
.text-container .short-tips-content,
.combobox-container .short-tips-content {
	margin-top: 6px;
	margin-left: 0;
	margin-bottom: 4px;
}

/* 有tips的输入框，addon和error在视觉上与tips在同一行，增加padding-right的空间是留给tips的 */
.widget-container.short-tips .widget-addon,
.widget-container.short-tips .widget-tips,
.widget-container.short-tips .widget-error-tips {
	padding-right: 80px;
}

.text-container .tooltip-container,
.combobox-container .tooltip-container {
	margin-top: 2px;
}

/* textbox end  *******/

/* combobox  ***********/
.combobox-container .widget-wrap-outer {
	width: 55.8%;
}

.no-navigator .combobox-container .widget-wrap-outer {
	width: 37.5%;
}

.combobox-container.short-tips.error .widget-tips {
	margin-top: 6px;
}

.grid-content-td .combobox-container .widget-wrap-outer {
	width: 100%;
}

/* combobox end  *******/

/* tooltip */
.panel-container .tooltip-container {
	position: absolute;
}

.tip-text-container .tip-text-box {
	max-width: 350px;
}

.tip-text-delta-container span.icon-delta {
	vertical-align: top;
}

/* tooltip end */

/* grid */
.grid-header.status,
.grid-content-td.status .td-content {
	text-align: center;
}

.grid-content-tr.empty td {
	padding: 24px 3px;
	text-align: left;
}

.grid-header.mesh-th-status.status {
	text-align: left;
}

/* grid end */

/* msg */
.msg-container {
	width: 82%;

	/* width: 630px; */
}

.editor-container .widget-container.scroll,
.no-button-msg .widget-container.scroll {
	max-height: 500px;
	margin-right: -16px;
	padding-right: 16px;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}

.editor-container .widget-container.scroll,
.no-button-msg .widget-container.scroll {
	max-height: 500px;
}

/* msg end */

/* global-progress */
.global-progress .scroll {
	overflow: visible !important;
}

.global-progress .scroll {
	overflow: visible !important;
}

/* global-progress end */

/* checkbox */
.checkbox-container .widget-wrap-outer,
.checkbox-group-container .widget-wrap-outer,
.radio-group-container .radio-group-wrap-outer {
	max-width: 55.8%;
}

.no-navigator .checkbox-container .widget-wrap-outer {
	max-width: 60.5%;
}

.checkbox-group-container.button-group .widget-fieldlabel-wrap {
	padding-top: 6px;
	padding-bottom: 6px;
}

.checkbox-group-container.button-group .widget-wrap-outer {
	width: 55.8%;
}

.checkbox-group-container.button-group .checkbox-group-wrap {
	width: 100%;
}

/* checkbox end */

/* paragraph */
.panel-container .paragraph-container.note,
.msg-container .paragraph-container.note {
	margin-bottom: 16px;
}

.widget-container + .paragraph-container.note {
	margin-top: 16px;
}

.paragraph-container.after-input {
	margin-top: -6px;
}

.paragraph-container.panel-error-paragraph {
	margin-top: -14px; /* when is panel's first child,margin-top 16px */
	margin-bottom: 30px;
}

/* paragraph end */

/* radio */
.radio-group-list-wrap li.radio-list + li.radio-list,
.checkbox-group-list-wrap li.checkbox-list + li.checkbox-list {
	margin-top: 4px;
}

/* radio end */

/* file */
.file-container .file-button-container {
	margin-top: 12px;
}

/* file end */

/* button */
.widget-container + .button-container.full-line {
	margin-top: 12px;
}

.widget-container + .button-container.panel-button {
	margin-top: 30px;
}

/* button end */

/* advanced panel */
.panel-container.advanced-panel {
	margin: 16px 0 12px; /* top 16px total */
}

.panel-container.advanced-panel.qs-collapse-panel {
	margin-bottom: 0;
}

/* advanced panel end */

/********************************  mudules  ********************************/

/* internet */
.paragraph-container.tips {
	margin-top: -6px;
	margin-left: 10px;
	margin-bottom: 16px;
}

/* internet end */

/****** WPS ******/
#wps-button {
	margin-left: 41.78%;
}

/****** end of WPS ******/

/****** Guest Network ******/

/****** end of Guest Network ******/

/*
   Login module
   ========================================================================== */

.login-background {
	height: 100%;
}

.login-main-container-page .text-container .widget-wrap-outer,
.login-main-container-page .panel-container .button-container.full-line .widget-wrap-outer {
	width: 100%;
}

#cloud-login-pwd {
	min-height: 74px;
}

.login-main-container-page .panel-container #tp-login-button {
	margin-top: 0;
}

/* Reset local password */

.login-step-panel.panel-container .widget-fieldlabel-wrap {
	width: 125px;
}

/* networkmap */
.networkmap-panel-column .displaylabel-container .widget-fieldlabel-wrap {
	height: 16px;
	padding-top: 0;
	padding-bottom: 0;
	transform: translateY(8px);
}

.networkmap-panel-column .displaylabel-container .text-wrap {
	padding: 0;
}

.networkmap-panel-column .displaylabel-container {
	margin-bottom: 16px;
}

.networkmap-panel .internet-conn-note {
	padding-left: 251px;
}

/* networkmap end */

/* search */
.search-input-button-container {
	text-align: center;
}

#begin-search {
	margin-left: 10px;
}

#search-keyword,
#begin-search {
	display: inline-block !important;
}

#search-keyword {
	width: 330px;
}

/* search end */

/* quicksetup */
.qs-step-panel .displaylabel-container .text-wrap {
	min-width: 200px;
	max-width: 220px;
}

.qs-step-panel .ap-device-wifisharing-container .displaylabel-container .text-wrap {
	width: 220px;
}

.qs-step-panel .displaylabel-container.widget-container {
	margin-bottom: 4px;
}

/* quicksetup end */

/* QoS */
.qos-schedule-editor .combobox-container .widget-wrap-outer {
	width: 70%;
}

#qos-schedule-editor .widget-container.time-container .widget-short-tips {
	width: 100%;
	float: none;
	text-align: left;
	margin-left: 5px;
}

#qos-schedule-editor .combobox-container .short-tips-content {
	margin-left: 0;
}

#schedule-time-from.combobox-container .widget-fieldlabel-inner,
#schedule-time-to.combobox-container .widget-fieldlabel-inner,
#qos-schedule-repeat .widget-fieldlabel-inner {
	text-align: left;
}

#schedule-time-from.combobox-container.time-container .time-sub-fieldlabel,
#schedule-time-to.combobox-container.time-container .time-sub-fieldlabel {
	margin-left: 0;
}

/* QoS end */

.wirelessList-item-content {
	padding: 16px 20px 4px;
	margin-bottom: 12px;
}

/* whole home boost */
#auto-ai-boost-enable .widget-fieldlabel-wrap {
	width: -moz-fit-content;
	width: fit-content;
}

.panel-container #change-mode-button .widget-fieldlabel-wrap {
	width: 0;
}

/* whole home boost end */

/* statistics */
#wireless-statistics-grid .grid-content-td.label-empty .td-label {
	display: none;
	color: #36444b;
}

#wireless-statistics-grid .grid-content-td.label-empty .td-content .widget-container {
	display: inline-block;
}

#wireless-statistics-grid .grid-content-td.label-empty .td-content .widget-container.device-type {
	margin-right: 16px;
}

#wireless-statistics-grid .grid-content-td.label-empty .td-content {
	text-align: left;
}

/* statistics end */

/********************************  mudules  ********************************/
