.top-bar {
	background-color: transparent;
}

.top-bar {
	background-color: transparent;
}

.logo {
	background: url('../img/logo/tp_logo_white.png') no-repeat;
	background-size: 79px 30px;
}

/* top */
.mobile-top-bar .center-text {
	font-size: 16px;
	line-height: 18px;
	color: #fff;
	font-weight: bold;
}

.top-bar::after {
	background: #4acbd6;
	background: linear-gradient(-150deg, #4acbd6 0%, rgb(68 200 215 / 100%) 25%, rgb(48 189 217 / 100%) 48%, rgb(0 163 223 / 100%) 100%);
}

/* navigator */
.mobile-navigator,
.mobile-navigator a {
	color: #fff;
}

.mobile-navigator::after {
	background: linear-gradient(-150deg, #4acbd6 0%, rgb(68 200 215 / 100%) 25%, rgb(48 189 217 / 100%) 48%, rgb(0 163 223 / 100%) 100%);
}

.mobile-navigator.menu-open {
	animation: slideDown 0.3s forwards;
	animation: slideDown 0.3s forwards;
	animation: slideDown 0.3s forwards;
	animation: slideDown 0.3s;
}

.mobile-navigator.menu-close {
	animation: slideUp 0.3s forwards;
	animation: slideUp 0.3s forwards;
	animation: slideUp 0.3s forwards;
	animation: slideUp 0.3s;
}

.mobile-navigator li.navigator-li.opened {
	background: transparent;
}

.mobile-navigator li.navigator-li.selected span.sub-navigator-icon {
	display: inline-block;
	position: absolute;
	left: -18px;
	top: 11px;
	width: 10px;
	height: 10px;
	background: url(../img/png/point-white@3x.png) no-repeat center center;
	background-size: 10px;
}

.mobile-navigator li.navigator-li[navi-value='tplinkId'] a span.sub-navigator-text {
	max-width: 100px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.func-button a.button-button span.button-text {
	font-size: 16px;
	line-height: 18px;
	color: #fff;
}

.func-button.button-container.loading a.button-button {
	padding-top: 0;
	padding-bottom: 0;
}

.func-button.button-container.loading a.button-button span.button-loading {
	margin-top: -4px;
}

.func-button.button-container.disabled a.button-button {
	background: transparent;
}

#menu-button.button-container a.button-button {
	background-color: transparent;
}

#menu-button a.button-button span.button-icon {
	background: url(../img/png/Meau@3x.png) no-repeat;
	background-size: 30px;
}

#menu-button.level1 a.button-button span.button-icon {
	background: url('../img/png/Close 2@3x.png') no-repeat;
	background-size: 30px;
}

#menu-button.level2 a.button-button span.button-icon {
	background: url(../img/png/back@3x.png) no-repeat;
	background-size: 30px;
}

.mobile-navigator ul.navigator-ul {
	text-align: left;
}

.mobile-navigator li.navigator-li a {
	border-bottom: 1px solid #fff;
	border-bottom: 1px solid rgb(255 255 255 / 50%);
	cursor: pointer;
}

.mobile-navigator li.navigator-li-level2 a {
	border-bottom: 0;
}

.mobile-navigator li.navigator-li[navi-value='search'] a > span.sub-navigator-icon-after {
	background: url('../img/png/Search white@3x.png') no-repeat;
	background-size: 24px;
}

.mobile-navigator li.navigator-li[navi-value='tplinkId'] a > span.sub-navigator-icon-after {
	background: url('../img/png/ID-white@3x.png') no-repeat;
	background-size: 24px;
}

.mobile-navigator li.navigator-li[navi-value='logout'] a > span.sub-navigator-icon-after {
	background: url('../img/png/Logout-white@3x.png') no-repeat;
	background-size: 24px;
}

.mobile-navigator li.navigator-li[navi-value='support'] a > span.sub-navigator-icon-after {
	background: url('../img/png/support-white@3x.png') no-repeat;
	background-size: 24px;
}

.mobile-navigator li.navigator-li[navi-value='feedback'] a > span.sub-navigator-icon-after {
	background: url('../img/jpg/feedback@3x.png') no-repeat;
	background-size: 24px;
}

.mobile-navigator li.navigator-li.has-sub-navi > a > span.sub-navigator-icon-after {
	background: url('../img/png/Pull Right white@3x.png') no-repeat center center;
	background-size: 24px 24px;
}

.mobile-navigator li.navigator-li.has-sub-navi.opened > a > span.sub-navigator-icon-after {
	background: url('../img/png/Pull Down white@3x.png') no-repeat;
	background-size: 24px;
}

#main-menu li.navigator-li.search a,
#main-menu li.navigator-li.logout a,
#main-menu li.navigator-li.support a,
#main-menu li.navigator-li.feedback a,
#main-menu li.navigator-li.tplinkId a {
	border-bottom: 0;
}

/* pannel */
.panel-container .panel-title-text {
	font-size: 18px;
	line-height: 21px;
}

.advanced-panel .panel-title-text {
	font-size: 14px;
	line-height: 16px;
}

/* page */
.page-inner {
	box-shadow: 0 0 10px 0 rgb(54 68 75 / 30%) inset;
	background: #fff;
}

/* toast */
.notice-bar-container {
	border-radius: 0;
	text-align: left;
}

/* toast end */

/* common widget */
.widget-container.block-title label.widget-fieldlabel {
	color: #36444b;
	font-weight: bold;
}

.widget-container.em label.widget-fieldlabel {
	color: #36444b;
}

.panel-container .widget-fieldlabel-wrap,
.editor-container .widget-fieldlabel-wrap {
	color: rgb(33 33 33 / 50%);
}

/* grid */
.grid-panel-content-container {
	border: 0;
	border-radius: 0;
}

.grid-content-tr {
	background: #fff;
	border: 1px solid #d6d6d6;
	border-radius: 5px;
}

.grid-content-td-1,
.s-first-row {
	background: #efefef;
	color: #5a656a;
	color: rgb(54 68 75 / 80%);
}

.grid-content-td-1 .td-label,
.s-first-row .td-label {
	font-weight: bold;
	color: inherit;
}

.td-label {
	color: rgb(33 33 33 / 50%);
}

/* select-grid */

.select-grid .grid-content-tr {
	background: inherit;
	border: 0;
	border-bottom: 1px solid #eaeaea;
	border-radius: 0;
}

.select-grid .grid-content-td-1,
.select-grid .s-first-row {
	background: inherit;
	color: inherit;
}

/* grid end */

/* password */
.password-container.correct .widget-wrap {
	border-color: #4acbd6;
}

/* password end */

/********** msg ios ******************/

/* global confirm */

/* editor-container */
.msg-container.editor-container,
.msg-container.no-button-msg {
	width: 100%;
	height: 100%;
	box-shadow: none;
	border-radius: 0;
}

.editor-container .msg-wrap,
.no-button-msg .msg-wrap {
	border-radius: 0;
}

.editor-container h3.msg-title,
.no-button-msg h3.msg-title {
	box-shadow: 0 2px 4px 0 rgb(54 68 75 / 30%);
}

.editor-container .msg-title-container,
.no-button-msg .msg-title-container {
	text-overflow: ellipsis;
	line-height: 17px;
}

.editor-container .btn-cancel a.button-button,
.editor-container .btn-msg-cancel a.button-button,
.editor-container .btn-msg-no a.button-button,
.editor-container .btn-msg-ok a.button-button,
.editor-container .btn-submit a.button-button {
	font-size: 16px;
	line-height: 18px;
	box-shadow: none;
	color: #005564;
	background: transparent;
}

.editor-container .btn-cancel a.button-button:hover,
.editor-container .btn-msg-cancel a.button-button:hover,
.editor-container .btn-msg-no a.button-button:hover,
.editor-container .btn-msg-ok a.button-button:hover,
.editor-container .btn-submit a.button-button:hover {
	box-shadow: none;
	background: transparent;
}

/* global alert/confirm */

/* msg end */

/* paragraph */
.paragraph-container .widget-fieldlabel-wrap {
	color: inherit;
}

/* paragraph end */

/* tether */
@media screen and (max-width: 380px) {
	.tether-wrapper.tether-store {
		margin: 0 auto;
	}
}

.tether-qs-container {
	display: none;
}

/* tether end */

/* timeline */
.timeline-header-item.time,
.timeline-cell-wrapper.time {
	flex-basis: 80px;
}

.timeline-content-container {
	font-size: 12px;
}

.timeline-content-wrapper {
	max-height: unset;
}

.timeline-node {
	flex-basis: 40px;
}

.plain-bg .timeline-header-wrapper,
.plain-bg .timeline-content-container {
	padding-left: 10px;
}

/* timeline end */

/********************************  mudules  ********************************/

/* internet */
.paragraph-container.tips {
	color: #a7a9ac;
}

/* internet end */

/****** Guest Network ******/
#portal-left-box {
	background: no-repeat;
	background: #fff;
}

#portal-login-preview {
	background-size: contain;
}

/****** end of Guest Network ******/

/* Operation Mode Imgs Begin */
.operation-mode-radio .oper-inter,
.operation-mode-radio .oper-wl-rout,
.operation-mode-radio .oper-modem,
.operation-mode-radio .oper-device {
	transform: scale(0.6);
	transform-origin: 50% 0;
}

.operation-mode-radio .oper-wl-rout {
	margin-left: -23px;
}

.operation-mode-radio .oper-line {
	width: 77.9px;
}

.operation-mode-radio .oper-line.second {
	width: 121.9px;
	margin-left: -39px;
}

.operation-mode-radio .oper-device {
	margin-left: -35px;
}

.operation-mode-radio .oper-modem {
	margin-left: -23px;
}

.operation-mode-radio .ap-mode .oper-line {
	width: 52px;
}

.operation-mode-radio .ap-mode .oper-line.second {
	width: 57.9px;
}

.operation-mode-radio .ap-mode .oper-device {
	margin-left: 28px;
}

.operation-mode-radio .client-mode .oper-line.second {
	width: 70px;
}

.operation-mode-radio .oper-line {
	margin-bottom: 16px;
}

/* <subuild name=isAccessPointDevice> */
.operation-mode-radio .client-mode .oper-line {
	width: 52px;
}

.operation-mode-radio .ap-mode .oper-line.second {
	width: 85.9px;
}

.operation-mode-radio .oper-wl-rout {
	margin-left: -19px;
}

.operation-mode-radio .oper-wl-rout.oper-wl-ap {
	margin-left: -37px;
}

.operation-mode-radio .oper-modem {
	margin-left: -19px;
}

.operation-mode-radio .oper-line.second {
	margin-left: -35px;
}

.operation-mode-radio .re-mode .oper-wl-rout.second,
.operation-mode-radio .client-mode .oper-wl-rout.second {
	margin-left: 14px;
}

.operation-mode-radio .client-mode .oper-line.second {
	width: 88px;
	margin-left: -23px;
}

.operation-mode-radio .client-mode .oper-device {
	margin-left: -61px;
}

.qs-change-mode-radio.operation-mode-radio .ap-mode .oper-line.second {
	width: 85.9px;
}

/* </subuild> */

/* Operation Mode Imgs End */

/****** Home Care ******/
.homecare-function-wrapper .tab-wrapper {
	display: none;
}

.homecare-function {
	padding: 0;
}

.homecare-function #footer {
	margin-bottom: 30px;
}

.homecare-function-content {
	padding: 15px 0;
}

.homecare-function-content .title-s {
	display: block;
}

.homecare-function-content .mobile-img {
	display: none;
}

/****** old Home Care ******/
.homecare-instruction .icon {
	background: url('../img/jpg/homecare-logo 320px@3x.png');
	background-size: 110px 63px;
}

/****** Antivirus ******/
.antivirus-history-list-item .info .client-content {
	color: #a7a9ac;
}

/****** Antivirus end ******/

/****** Parental Controls ******/
.device-list-title {
	color: rgb(33 33 33 / 50%);
}

.parental-ctrls-devices-list-mac {
	margin-top: 6px;
	font-size: 12px;
	line-height: 14px;
	color: #a7a9ac;
}

/****** end of Parental Controls ******/

/* S========Parental Controls V3 ========= */
#ptcr-bar-chart {
	width: 300px;
}

.msg-tip {
	padding: 0;
}

.ptcr-day-week {
	top: 32px;
	right: 0;
	left: auto;
	color: #4acbd6;
}

.ptcr-day-week.combobox-container .combobox-wrap .combobox-wrap-inner {
	width: 128px;
}

.ptcr-day-sel {
	top: 65px;
}

.insight-fun-bar {
	margin-bottom: 65px;
}

.ptcr-chart-container .chart-xlabels span {
	width: 40px;
	margin-right: 22px;
}

.timepicker-container table.timepicker .timepicker-picker {
	width: 35px;
	height: 15px;
}

.timepicker-container table.timepicker .row-picker {
	height: 15px;
}

div.timepicker-container .x-axis span {
	line-height: 16px;
}

div.timepicker-container .x-axis-wrap {
	top: 23px;
}

.timepicker-layout {
	text-align: center;
}

.timepicker-layout .timepicker-right {
	display: none;
}

div.timepicker-container .legend-container span.icon {
	width: 20px;
}

#ptcr-time-table-msg .widget-container {
	margin-bottom: 12px;
}

#ptcr-time-table-msg .msg-content-container {
	overflow: auto;
}

.ptcr-time-list .time-item,
.ptcr-time-list .add-button {
	margin-right: 8px;
}

.editor-container .ptcr-time-limit .widget-container {
	margin-bottom: 12px;
}

.ptcr-time-limit .widget-container + .widget-container {
	margin-left: 0;
}

.ptcr-time-limit .slider-container {
	display: block;
}

.ptcr-time-limit .slider-container .slider-wrap-outer {
	margin-right: 0;
}

.ptcr-time-limit .slider-container .pole-tips-container .pole-tips {
	bottom: 20px;
	top: unset;
}

.ptcr-time-limit .slider-container .pole-tips-container .pole-tips.left-tip {
	text-align: left;
	left: 0;
}

.ptcr-time-limit .slider-container .pole-tips-container .pole-tips.right-tip {
	right: 0;
}

.radio-inline .radio-list {
	display: block;
}

.radio-inline .radio-list + .radio-list {
	margin-left: 0;
}

.url-input-wrap .widget-wrap.text-wrap {
	max-width: 150px;
}

.url-input-wrap #url-input-btn {
	width: auto;
	margin-left: 10px;
}

.url-input-wrap #url-input-btn a.button-button {
	min-width: 60px;
}

#ptcr-add-dev-msg .layout-wrap {
	text-align: center;
}

#ptcr-add-dev-msg .left {
	padding-right: 0;
	border: none;
	width: 100%;
}

#ptcr-add-dev-msg .right {
	display: none;
}

/* E=========Parental Controls V3 ========= */

/****** Home Care end ******/

/* status */
.status-label-title .widget-fieldlabel-wrap {
	color: #005564;
}

/* status end */

/* Login module */
.login-main-container-page .module-in-main-container {
	box-shadow: 0 0 6px 0 rgb(0 85 100 / 30%);
	border-radius: 6px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.login-main-container-page .panel-container .widget-fieldlabel-wrap {
	color: #36444b;
}

.login-main-container-page .button-container {
	font-size: 15px;
	font-weight: bold;
}

.login-main-container .logo {
	background: url('../img/logo/tp_logo_white.png');
	background-size: 96px auto;
}

/* login end */

/* quickSetup */
#switch-mode-button a.button-button span.button-icon {
	background: url('../img/png/Change Mode white@3x.png');
	background-size: 24px;
}

#quit-qs-button a.button-button span.button-icon {
	background: url('../img/png/Logout white@3x.png');
	background-size: 24px;
}

#qs-lan-button a.button-button span.button-icon,
.login-lan-button a.button-button span.button-icon {
	background: url('../img/png/Language white@3x.png');
	background-size: 24px;
}

/* quicksetup extender guidance */
.interference-wifi-appliances-msg .appliances-wrapper {
	flex-direction: column;
	align-items: center;
}

.interference-wifi-appliances-msg .appliances-wrapper .appliances-content {
	flex: 0;
	margin-bottom: 30px;
}

.interference-wifi-appliances-msg .appliances-wrapper .appliances-img {
	margin-right: 0;
	margin-left: 0;
}

/* quicksetup extender guidance end */

/* quickSetup end */

/* networkbar's speed test and wireless end */
.networkmap-panel .panel-title-text {
	font-size: 14px;
	line-height: 16px;
}

.networkmap-panel-column .widget-fieldlabel-wrap {
	color: #36444b;
}

.networkmap-panel.networkmap-client-panel::before,
.networkmap-panel.networkmap-client-panel::after,
.networkmap-panel.networkmap-client-panel .panel-title::before,
.networkmap-panel.networkmap-client-panel .panel-title::after,
.networkmap-panel.networkmap-client-panel .panel-header::before,
.networkmap-panel.networkmap-client-panel .panel-header::after,
.networkmap-panel.networkmap-client-panel .panel-content::before,
.networkmap-panel.networkmap-client-panel .panel-content::after {
	display: none;
}

.connected-clients-grid .grid-content-td.lst::after,
.connected-clients-grid .grid-content-td.s-last-td::after {
	display: none;
}

.connected-clients-grid .grid-content-td-deviceName::after,
.connected-clients-grid .grid-content-td-action-column::after {
	display: none;
}

/* network map end */

/* wifisharing @start */
.wifisharing-container.after-input .wifisharing-sharing-btn-container {
	text-align: right;
}

/* wifisharing @end */

/***  oneMesh  ***/
#mesh-msg .inline-block {
	display: block;
}

#mesh-msg .paragraph-container.mb-12 {
	margin-bottom: -12px;
}

#mesh-msg.editor-container .btn-cancel {
	float: none;
}

#mesh-msg.editor-container .btn-cancel a.button-button {
	font-size: 14px;
	line-height: 16px;
	box-shadow: 0 0 2px 0 rgb(0 85 100 / 12%), 0 2px 2px 0 rgb(0 85 100 / 24%);
}

#mesh-search-progressbar .progressbar-wrap-outer {
	width: auto;
	margin: 0 auto;
}

.grid-mesh-devices td.td-inline-block .td-label {
	display: inline-block;
	width: 50%;
	text-align: left;
}

.grid-mesh-devices td.td-inline-block.add .td-label {
	display: none;
}

.grid-mesh-devices td.td-inline-block.add .td-label {
	width: 100%;
}

.grid-mesh-devices td.td-inline-block.add,
.grid-mesh-devices td.td-inline-block.add .button-container .button-wrap-outer {
	text-align: right;
}

.grid-mesh-devices td.td-inline-block .td-content {
	display: inline-block;
	width: 50%;
	text-align: right;
}

/* easy mesh */
#remove-mesh-btn {
	margin-top: 16px;
	margin-bottom: 16px;
}

#remove-mesh-btn .button-button {
	padding: 11px 5px;
	line-height: 14px;
}

.text-satellite {
	max-width: 56px;
	margin: auto;
}

.easy-mode .satellites {
	margin-right: 4px;
}

.easy-mode .mode-img-inner {
	transform: scale(0.9);
}

.mesh-mode .widget-fieldlabel-wrap {
	color: #36444b;
}

/* easy mesh end */

/* mesh update */
#grid-mesh-routers .static-action-column .td-label {
	display: block;
	width: auto;
}

#grid-mesh-routers .static-action-column .td-content {
	display: block;
	text-align: left;
	width: auto;
}

/* mesh update end */

/***  oneMesh end  ***/

/*** internet port ***/
#internet_port .radio-group-wrap .radio-group-list-wrap,
#qs_internet_port .radio-group-wrap .radio-group-list-wrap {
	white-space: normal;
}

/*** internet port end ***/

/*** qs dual nat detect ***/
#qs-dual-nat-radio .dual-nat-radio-item {
	height: 113px;
}

div.qs-dual-nat-panel .img-container {
	height: 113px;
}

/*** qs dual nat detect end ***/

/* ffs */
.amazon-ffs.checkbox-container .widget-tips-wrap {
	margin-left: -19px;
}

/* ffs end */

/*** cwmp ***/
#local-login-captcha.text-container .widget-wrap-outer {
	text-align: left;
}

/*** cwmp end ***/

/* offline download */
#amule-server-container.time-container .text-container {
	width: 49.2%;
}

#amule-server-container.time-container span.separator {
	position: static;
}

#amule-server-container .widget-wrap.combination-wrap {
	width: 100%;
}

#offline-amule-status {
	top: 54px;
}

/* offline download end */

/* parental-controls-v4 start */
#ptcr-add-dev-msg-v4 .layout-wrap {
	text-align: center;
	height: 500px;
}

#ptcr-add-dev-msg-v4 .left {
	padding-right: 0;
	border: none;
	width: 100%;
}

#ptcr-add-dev-msg-v4 .right {
	display: none;
}

.bedtime-warning-box .bedtime-warning-text {
	width: 80%;
}

.url-input-wrap.url-input-v4 .widget-wrap.text-wrap {
	max-width: 100%;
}

.url-input-wrap.url-input-v4 .widget-container {
	display: block;
}

.url-input-wrap.url-input-v4 #url-input-btn {
	margin-left: 0;
}

.url-input-wrap.url-input-v4 #url-input-btn a.button-button {
	max-width: 100%;
}

.button-container.widget-container .button-wrap {
	width: 100%;
}

/* parental-controls-v4 end */

/* network scan */
#network-check .question-tool-tip {
	margin-left: 5px;
}

#network-check .network-scan {
	height: auto;
	display: block;
}

.network-scan .scan-icon {
	margin: auto;
}

.network-scan .scan-content {
	width: 100%;
	padding-top: 70px;
	min-width: 303px;
	position: relative;
}

.scan-content .description.container {
	margin-bottom: 0;
}

.scan-content .display {
	height: 60px;
	border-bottom: 1px solid #ebebeb;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.display .widget-container {
	margin-bottom: 0;
}

#network-scan-button {
	width: 180px;
	padding-top: 10px;
	margin: auto;
	position: absolute;
	top: 0;
	left: calc(50% - 90px);
}

#network-scan-button a.button-button {
	min-height: 28px;
	padding: 7px 5px;
}

.scan-list-container {
	margin-top: 40px;
}

.list-content[key='wifiPwdStrength'] .warning {
	padding-top: 15px;
}

.list-content .strength-wrapper {
	position: relative;
	left: -114px;
	top: 15px;
	margin-right: -200px;
}

#auto-update-firmware-msg.msg-container .widget-fieldlabel-wrap {
	text-align: left;
}

/* network scan end */

/* multi ssid wireless */
#grid-wifisharing.wifisharing-container.popup .wifisharing-delta-container {
	right: 16px;
}

/* multi ssid wireless end */

/* tether guidance */
#tether-view {
	overflow: auto;
}

#tether-view .login-background {
	height: 300px;
	position: unset;
}

#tether-view .main-container-page {
	display: none;
}

#tether-view .mobile-container-page {
	width: 100vw;
	height: auto;
	margin: auto;
	margin-top: -280px;
	display: flex;
}

#tether-view .login-main-content {
	height: auto;
	overflow: unset;
	z-index: 100;
}

.mobile-container-page .tether-guidance-wrapper {
	margin: 120px auto 10px;
	height: auto;
}

.tether-guidance-wrapper .tether-picture {
	width: 324px;
	height: 324px;
	margin: auto;
	margin-top: -70px;
	margin-bottom: -30px;
	background: url(../img/tether_guidance.png) center/324px 324px;
	z-index: 100;
}

.tether-guidance-wrapper .tether-content {
	width: 315px;
	height: 270px;
	padding: 0;
	margin: 40px auto;
	border-radius: 0 10px 10px 0;
	box-shadow: unset;
	justify-content: flex-start;
	border-radius: 10px;
}

.tether-guidance-wrapper .tether-logo {
	width: 68px;
	height: 68px;
	margin: 0 auto;
	flex: none;
	background: url(../img/tether_logo.png) center/68px 68px;
}

.tether-content .title {
	margin-top: 20px;
	font-size: 18px;
}

.tether-content .qr-code {
	display: none;
}

#open-tether-button {
	margin-bottom: 16px;
	font-size: 16px;
}

#open-tether-button .button-wrap-outer {
	width: 100%;
}

/* tether guidance end */
.login-tether-wrapper {
	display: none;
}

/* ueip & policy init login */

#privacy-checkbox .checkbox-group-wrap-outer {
	width: 100%;
	text-align: left;
}

#privacy-checkbox .checkbox-list {
	text-align: left;
}

.tip-text-content .qr-code-content {
	display: none;
}

/* ueip & policy init login end */



/******************************  mudules end  ******************************/
