.page-inner {
	border-radius: 10px 10px 0 0;
}

/* top */
.top-bar a.button-button span.button-text,
.top-bar a.button-button span.button-icon {
	color: #36444b;
}

.top-bar .login-lan-button a.button-button span.button-text {
	color: #fff;
}

.top-bar a.button-button:hover span.button-text {
	color: #212121;
	opacity: 0.5;
}

/* tooltip */
.top-bar #user-button a.button-button span.button-text {
	max-width: 107px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

/* tooltip end */

/* onemesh */
#mesh-msg {
	width: 900px;
}

#mesh-msg .widget-fieldlabel-wrap {
	width: 120px;
}

#mesh-msg .fieldset-container.first {
	width: 400px;
	padding-right: 30px;
	margin-right: 30px;
	border-right: 1px solid #ccc;
}

.displaylabel-container.mesh-speed .text-wrap {
	width: 245px;
}

#grid-mesh-clientsList {
	width: 400px;
}

.onemesh-v2 .devicesList-item-container {
	width: 325px;
}

.onemesh-manage-field {
	display: inline-block !important;
}

#grid-mesh-clients .grid-content-container-outer {
	min-height: 320px;
}

#mesh-search-progressbar .progressbar-wrap-outer {
	width: 245px;
	margin: 0 auto;
}

#grid-mesh-clients .grid-content-tr.empty {
	border: none;
}

.grid-mesh-devices .model-name {
	display: none;
}

#onemesh-client-field.networkmap-panel-column {
	width: 49%;
}

/* onemesh end */

/* ffs */
.amazon-ffs.widget-container .widget-tips {
	width: 0;
}

.amazon-ffs.widget-container .widget-tips .tips-content {
	width: 400px;
}

/* ffs end */

.page-inner {
	border-radius: 10px 10px 0 0;
}

/* top */
.top-bar a.button-button span.button-text,
.top-bar a.button-button span.button-icon {
	color: #36444b;
}

.top-bar .login-lan-button a.button-button span.button-text {
	color: #fff;
}

.top-bar a.button-button:hover span.button-text {
	color: #212121;
	opacity: 0.5;
}

/* tooltip */
.top-bar #user-button a.button-button span.button-text {
	max-width: 107px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

/* tooltip end */

/* onemesh */
#mesh-msg {
	width: 900px;
}

#mesh-msg .widget-fieldlabel-wrap {
	width: 120px;
}

#mesh-msg .fieldset-container.first {
	width: 400px;
	padding-right: 30px;
	margin-right: 30px;
	border-right: 1px solid #ccc;
}

.displaylabel-container.mesh-speed .text-wrap {
	width: 245px;
}

#grid-mesh-clientsList {
	width: 400px;
}

.onemesh-v2 .devicesList-item-container {
	width: 325px;
}

.onemesh-manage-field {
	display: inline-block !important;
}

#grid-mesh-clients .grid-content-container-outer {
	min-height: 320px;
}

#mesh-search-progressbar .progressbar-wrap-outer {
	width: 245px;
	margin: 0 auto;
}

#grid-mesh-clients .grid-content-tr.empty {
	border: none;
}

.grid-mesh-devices .model-name {
	display: none;
}

#onemesh-client-field.networkmap-panel-column {
	width: 49%;
}

/* onemesh end */

/* easyMesh */
#easy-mesh-clients .grid-content-container-outer {
	min-height: 320px;
}

#easy-mesh-clients .grid-content-tr.empty {
	border: none;
}

/* easyMesh end */

/* ffs */
.amazon-ffs.widget-container .widget-tips {
	width: 0;
}

.amazon-ffs.widget-container .widget-tips .tips-content {
	width: 400px;
}

/* ffs end */

.page-inner {
	border-radius: 10px 10px 0 0;
}

/* top */
.top-bar a.button-button span.button-text,
.top-bar a.button-button span.button-icon {
	color: #36444b;
}

.top-bar .login-lan-button a.button-button span.button-text {
	color: #fff;
}

.top-bar a.button-button:hover span.button-text {
	color: #212121;
	opacity: 0.5;
}

/* tooltip */
.top-bar #user-button a.button-button span.button-text {
	max-width: 107px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

/* tooltip end */

/* tether */
.tether-container {
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: nowrap;
}

.tether-title {
	line-height: 20px;
}

.tether-wrapper.tether-store {
	padding-left: 30px;
}

.qr-code-wrapper {
	border-left: none;
}

/* tether end */

/* onemesh */
#mesh-msg {
	width: 900px;
}

#mesh-msg .widget-fieldlabel-wrap {
	width: 120px;
}

#mesh-msg .fieldset-container.first {
	width: 400px;
	padding-right: 30px;
	margin-right: 30px;
	border-right: 1px solid #ccc;
}

.displaylabel-container.mesh-speed .text-wrap {
	width: 245px;
}

#grid-mesh-clientsList {
	width: 400px;
}

.onemesh-v2 .devicesList-item-container {
	width: 325px;
}

.onemesh-manage-field {
	display: inline-block !important;
}

#grid-mesh-clients .grid-content-container-outer {
	min-height: 320px;
}

#mesh-search-progressbar .progressbar-wrap-outer {
	width: 245px;
	margin: 0 auto;
}

#grid-mesh-clients .grid-content-tr.empty {
	border: none;
}

.grid-mesh-devices .model-name {
	display: none;
}

#onemesh-client-field.networkmap-panel-column {
	width: 49%;
}

/* onemesh end */

/* easyMesh */
#easy-mesh-clients .grid-content-container-outer {
	min-height: 320px;
}

#easy-mesh-clients .grid-content-tr.empty {
	border: none;
}

/* easyMesh end */

/* ffs */
.amazon-ffs.widget-container .widget-tips {
	width: 0;
}

.amazon-ffs.widget-container .widget-tips .tips-content {
	width: 400px;
}

/* ffs end */

/* offline download */
#offline-amule-status {
	top: 60px;
	right: 45px;
}

/* offline download end */

/* multi ssid wireless */
#wireless-mode-tab .switch-field-name {
	width: 333px;
	margin: 0 auto;
}

/* multi ssid wireless end */
