/* css only for 768px to 1023px, size m */

/* grid */
.m-card-grid .grid-panel-content-container {
	border: 0;
	border-radius: 0;
}

.m-card-grid .grid-container .grid-content-tr {
	background: #fff;
	border: 1px solid #d6d6d6;
	border-radius: 5px;
}

.m-card-grid .grid-content-tr .grid-content-td-1,
.m-card-grid .grid-content-tr .m-first-row {
	background: #efefef;
	color: #5a656a;
	color: rgb(54 68 75 / 80%);
}

.m-card-grid .grid-content-tr .grid-content-td-1 .td-label,
.m-card-grid .grid-content-tr .m-first-row .td-label {
	font-weight: bold;
	color: inherit;
}

/* status */
.m-card-grid .grid-content-tr .grid-content-td.status .td-label {
	color: inherit;
}

/* Operation Mode Imgs Begin */

.operation-mode-radio .oper-line {
	width: 126px;
}

.operation-mode-radio .oper-line.second {
	width: 163px;
}

.operation-mode-radio .ap-mode .oper-line,
.operation-mode-radio .client-mode .oper-line {
	width: 82px;
}

.operation-mode-radio .ap-mode .oper-line.second {
	width: 81.5px;
}

.operation-mode-radio .ap-mode .oper-device {
	margin-left: 51px;
}

.operation-mode-radio .client-mode .oper-line.second {
	width: 109px;
}

/* <subuild name=isAccessPointDevice> */
.operation-mode-radio .ap-mode .oper-line.second {
	width: 120.5px;
}

.operation-mode-radio .img-container .img {
	width: 440px;
}

.operation-mode-radio .client-mode .oper-line.second {
	width: 108px;
}

.operation-mode-radio .oper-device {
	margin-left: -60px;
}

/* </subuild> */

/* Operation Mode Imgs End */

/* offline download */
#offline-amule-status {
	top: 60px;
	right: -36px;
}

/* offline download end */

/* dhcp */
.widget-wrap-300 .widget-container .widget-fieldlabel-wrap {
	width: 37.6%;
}

.widget-wrap-300 .combination-container .widget-wrap-outer,
.widget-wrap-300 .text-container .widget-wrap-outer {
	width: 60%;
}

/* dhcp end */

/***  oneMesh  ***/
#mesh-msg .inline-block {
	display: block;
}

#mesh-search-progressbar .progressbar-wrap-outer {
	width: 55.8%;
	margin: 0 auto;
}

.grid-mesh-devices.m-card-grid .grid-content-tr .grid-content-td-1 .td-label {
	display: none;
}

/***  oneMesh end  ***/

/* tether  */
.tether-qs-container {
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: nowrap;
}

/* tether end */

/* tether login card */
.login-tether-wrapper {
	display: none;
}

/* tether login card end */

/********************************  mudules  ********************************/
