/************  some style  **********************/

/* #main-menu */

#main-menu .navigator-li {
	list-style: none;
	word-break: keep-all;
}

#main-menu .navigator-li a {
	color: #fff;
}

#main-menu li.navigator-li[navi-value='networkMap'] span.sub-navigator-icon {
	background: url('../img/png/Network-White@3x.png');
	background-size: 52px;
}

#main-menu li.navigator-li[navi-value='networkMap'].selected span.sub-navigator-icon,
#main-menu li.navigator-li[navi-value='networkMap']:hover span.sub-navigator-icon {
	background: url('../img/png/Network-Yellow@3x.png');
	background-size: 52px;
}

#main-menu li.navigator-li[navi-value='internetBasic'] span.sub-navigator-icon,
#main-menu li.navigator-li[navi-value='internetAP'] span.sub-navigator-icon {
	background: url('../img/png/Internet-White@3x.png');
	background-size: 52px;
}

#main-menu li.navigator-li[navi-value='internetBasic'].selected span.sub-navigator-icon,
#main-menu li.navigator-li[navi-value='internetBasic']:hover span.sub-navigator-icon,
#main-menu li.navigator-li[navi-value='internetAP'].selected span.sub-navigator-icon,
#main-menu li.navigator-li[navi-value='internetAP']:hover span.sub-navigator-icon {
	background: url('../img/png/Internet-Yellow@3x.png');
	background-size: 52px;
}

#main-menu li.navigator-li[navi-value='wirelessBasic'] span.sub-navigator-icon,
#main-menu li.navigator-li[navi-value='wirelessAdvUl'] span.sub-navigator-icon {
	background: url('../img/png/Wireless-White@3x.png');
	background-size: 52px;
}

#main-menu li.navigator-li[navi-value='wirelessBasic'].selected span.sub-navigator-icon,
#main-menu li.navigator-li[navi-value='wirelessBasic']:hover span.sub-navigator-icon,
#main-menu li.navigator-li[navi-value='wirelessAdvUl'].selected span.sub-navigator-icon,
#main-menu li.navigator-li[navi-value='wirelessAdvUl']:hover span.sub-navigator-icon {
	background: url('../img/png/Wireless-Yellow@3x.png');
	background-size: 52px;
}

#main-menu li.navigator-li[navi-value='homecare'] span.sub-navigator-icon {
	background: url('../img/png/homecare-White@3x.png');
	background-size: 52px;
}

#main-menu li.navigator-li[navi-value='homecare'].selected span.sub-navigator-icon,
#main-menu li.navigator-li[navi-value='homecare']:hover span.sub-navigator-icon {
	background: url('../img/png/homecare-Yellow@3x.png');
	background-size: 52px;
}

#main-menu li.navigator-li[navi-value='homeShield'] span.sub-navigator-icon,
#main-menu li.navigator-li[navi-value='homeShieldBasic'] span.sub-navigator-icon {
	background: url('../img/png/homeshield-White@3x.png');
	background-size: 52px;
}

#main-menu li.navigator-li[navi-value='homeShield'].selected span.sub-navigator-icon,
#main-menu li.navigator-li[navi-value='homeShield']:hover span.sub-navigator-icon,
#main-menu li.navigator-li[navi-value='homeShieldBasic'].selected span.sub-navigator-icon,
#main-menu li.navigator-li[navi-value='homeShieldBasic']:hover span.sub-navigator-icon {
	background: url('../img/png/homeshield-Yellow@3x.png');
	background-size: 52px;
}

#main-menu li.navigator-li[navi-value='antennas'] span.sub-navigator-icon {
	background: url('../img/png/Internet-White@3x.png');
	background-size: 52px;
}

#main-menu li.navigator-li[navi-value='antennas'].selected span.sub-navigator-icon,
#main-menu li.navigator-li[navi-value='antennas']:hover span.sub-navigator-icon {
	background: url('../img/png/Internet-Yellow@3x.png');
	background-size: 52px;
}

#main-menu li.navigator-li[navi-value='advanced'] span.sub-navigator-icon {
	background: url('../img/png/Advanced-White@3x.png');
	background-size: 52px;
}

#main-menu li.navigator-li[navi-value='advanced'].selected span.sub-navigator-icon,
#main-menu li.navigator-li[navi-value='advanced']:hover span.sub-navigator-icon {
	background: url('../img/png/Advanced-Yellow@3x.png');
	background-size: 52px;
}

#main-menu li.navigator-li span.adv-red-dot,
#navigator li.navigator-li span.adv-red-dot,
#ptcr-grid span.pcgrid-red-dot {
	border-radius: 8px;
	background-color: #c11c66;
}

#navigator li.navigator-li span.adv-red-dot,
#ptcr-grid span.pcgrid-red-dot {
	border-radius: 6px;
}

#main-menu li.navigator-li span.sub-navigator-text {
	font-size: 14px;
	line-height: 16px;
}

#main-menu li.navigator-li.selected span.sub-navigator-text,
#main-menu li.navigator-li:hover span.sub-navigator-text {
	font-weight: bold;
}

#main-menu li.navigator-li.selected::after {
	border-top: 0;
	border-left: 11px solid transparent;
	border-right: 11px solid transparent;
	border-bottom: 18px solid #fff;
	cursor: default;
}

#navigator {
	background: #eaeced;
}

#navigator li.navigator-li a {
	color: #36444b;
}

#navigator .navigator-ul-level2 li.navigator-li span.sub-navigator-text {
	opacity: 0.5;
	filter: alpha(opacity=50);
}

#navigator .navigator-ul-level2 li.navigator-li a:hover span.sub-navigator-text {
	opacity: 1;
	filter: alpha(opacity=100);
	color: #005564;
}

#navigator .navigator-ul-level2 li.navigator-li.selected span.sub-navigator-text {
	opacity: 1;
	filter: alpha(opacity=100);
	color: #005564;
}

.navigator ul.navigator-ul {
	cursor: pointer;
}

#navigator li.navigator-li span.sub-navigator-text {
	line-height: 16px;
	font-size: 14px;
}

li.navigator-li.opened {
	background-color: #dddfe1;
	border-radius: 0 0 10px;
}

#navigator li.navigator-li > a {
	border-radius: 0 0 10px;
}

#navigator li.navigator-li-level1 > a:hover .sub-navigator-text {
	opacity: 0.5;
	filter: alpha(opacity=50);
}

#navigator li.navigator-li-level1.opened > a:hover .sub-navigator-text,
#navigator li.navigator-li-level1.selected > a:hover .sub-navigator-text {
	opacity: 1;
	filter: alpha(opacity=100);
}

#navigator li.navigator-li-level1.opened > a {
	background: #cacbcd;
}

#navigator li.navigator-li-level1.selected > a {
	background: #ffcb00;
}

#navigator li.navigator-li.has-child-selected > a {
	background-color: #ffcb00;
}

#navigator .navigator-li-level2 span.sub-navigator-icon {
	background: url(../img/png/point@3x.png) no-repeat center center;
	background-size: 10px;
}

/* menu end */
.page-content-container {
	background-color: #fff;
}

/* common widget */
.widget-container.block-title label.widget-fieldlabel {
	font-weight: bold;
}

/********************************  mudules  ********************************/

/* internet */
.paragraph-container.tips {
	color: #a7a9ac;
}

#port-msg.msg-container {
	width: 555px;
}

#port-msg .port-disconnect-img-div {
	margin-left: 30px;
	margin-right: 30px;
}

/* internet end */

/********************************  mudules  ********************************/

/***  oneMesh  ***/
#mesh-msg .signal-level-container {
	margin-bottom: 0;
	margin-top: -5px;
}

#mesh-msg .msg-btn-container {
	display: none;
}

#grid-mesh-clients.m-card-grid .grid-content-tr.empty td.ghost-td {
	display: none;
}

.grid-mesh-devices td.td-inline-block.add .td-label {
	display: none;
}

.grid-mesh-devices td.td-inline-block.add .td-label {
	width: 100%;
}

.grid-mesh-devices td.td-inline-block.add,
.grid-mesh-devices td.td-inline-block.add .button-container .button-wrap-outer {
	text-align: right;
}

/***  oneMesh end  ***/

/* ffs */
.amazon-ffs.widget-container .widget-tips {
	width: 0;
}

.amazon-ffs.widget-container .widget-tips .tips-content {
	width: 300px;
}

/* parental control */
.pc-name-conflict-hint {
	position: relative;
	margin-bottom: 20px;
	padding: 20px 40px 20px 52px;
	background-color: #f8f9f9;
	border-radius: 6px;
}

.pc-name-conflict-hint .icon-wrap {
	position: absolute;
	top: 50%;
	left: 0;
	width: 52px;
	text-align: center;
	vertical-align: middle;
}

.pc-name-conflict-hint .closable {
	position: absolute;
	width: 24px;
	height: 24px;
}

.pc-name-conflict-hint .icon {
	display: inline-block;
	margin-top: -12px;
	width: 24px;
	height: 24px;
	background-image: url(../img/png/warning.png);
}

.pc-name-conflict-hint .closable {
	top: 5px;
	right: 5px;
	background-image: url(../img/png/close.png);
	cursor: pointer;
}

.pc-name-conflict-hint .text {
	color: #4d4d4d;
	text-align: left;
	line-height: 24px;
}

/* offline download */
.editor-container #grid-offline-download-editor.widget-container.scroll {
	max-height: 500px !important;
}

/* offline download end */

/* homeshield network check */
.display .content {
	margin-right: -90px;
}

.scan-content .description {
	margin-right: -30px;
}

/* homeshield network check end */

/* ueip & policy init login */
#privacy-checkbox .checkbox-group-wrap-outer {
	max-width: 100%;
}

/* ueip & policy init login end */
